@using ChartJSCore.Models;
@using SpotifyAPI.Web.Models;
@using SpotifyAPI.Web;

@{

    ViewData["Title"] = "ArtistDetails";

    FullArtist artist = (FullArtist)ViewData["Artist"];
    SeveralArtists recommendedArtist = (SeveralArtists) ViewData["RecommendedArtist"];

    //Chart radarPlot = (Chart)ViewData["RadarPlot"];
    FullTrack trackDetails;
}

<h1>Artist Details</h1>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="mt-0 mb-1"> @artist.Name</h2>
                <img class="ml-3" src="@artist.Images.First().Url" alt="@artist.Name" ; width="500" height="500" style="vertical-align:bottom">
            </div>
        </div>
    </div>

    <h3>Related Artist</h3>
    <table class="table">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Name
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var recArtist in recommendedArtist.Artists)
            {
                var artistName = recArtist.Name;
               

                <tr>
                    <td>
                        <img src="@recArtist.Images.First().Url" ; width="100" height="100"  />
                    </td>
                    <td>
                        <div class="nav-item">
                            <a asp-area="" asp-controller="Spotifly" asp-action="ArtistDetails" asp-route-id=@recArtist.Id>
                                @Html.DisplayFor(modelTrack => artistName)
                            </a>
                        </div>
                    </td>
                    

                </tr>
            }
        </tbody>
    </table>
</body>
