@using ChartJSCore.Models;
@using SpotifyAPI.Web.Models;
@using SpotifyAPI.Web;

@{
    ViewData["Title"] = "TrackDetails";

    FullTrack track = (FullTrack)ViewData["Track"];
    List<SimpleTrack> recommendedTracks = (List<SimpleTrack>)ViewData["RecommendedTracks"];

    Chart radarPlot = (Chart)ViewData["RadarPlot"];
    FullTrack trackDetails;
}

<h1>TrackDetails</h1>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="mt-0 mb-1"> @track.Name</h2>
                <img class="ml-3" src="@track.Album.Images.First().Url" alt="@track.Name" ; width="500" height="500" style="vertical-align:bottom">
            </div>
            <div class="col">
                <h2 class="mt-0 mb-1">Audio Features</h2>
                <div><canvas id="radarPlot" style="display: block; height: 500px; width: 525px;"></canvas></div>
            </div>
        </div>
    </div>
    
    @section Scripts {
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
        <script>
        @Html.Raw(radarPlot.CreateChartCode("radarPlot"));
        </script>
    }

    <h3>Recommended Tracks</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    
                </th>
                <th>
                    Name
                </th>
                <th>
                    Artist
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recTrack in recommendedTracks)
            {
                var trackName = recTrack.Name;
                var artist = recTrack.Artists.First().Name;

                <tr>
                    <td>
                        @{
                            ISpotifyWebAPI spotifyWebAPI = (ISpotifyWebAPI)ViewData["SpotifyWebAPI"];
                            trackDetails = spotifyWebAPI.GetTrack(recTrack.Id);
                        }
                        <div class="container">
                            <a asp-area="" asp-controller="Spotifly" asp-action="TrackDetails" asp-route-id=@recTrack.Id>
                                 <img src="@trackDetails.Album.Images.First().Url" ; width="100" height="100" class="image" />
                            </a>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelTrack => trackName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelTrack => artist)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</body>
