@using ChartJSCore.Models;
@using SpotifyAPI.Web.Models;

@{
    ViewData["Title"] = "Dashboard";
}


<h1>Dashboard <small>@User.Identity.Name</small></h1>

<div><canvas id="pieChart"></canvas></div>

@{ChartJSCore.Models.Chart pieChart = (ChartJSCore.Models.Chart)ViewData["PieChart"];
    Paging<SimplePlaylist> playlists = (Paging<SimplePlaylist>)ViewData["Playlists"];
    List<PlayHistory> recentlyPlayed = (List<PlayHistory>)ViewData["RecentlyPlayed"];
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script>
        @Html.Raw(pieChart.CreateChartCode("pieChart"));
    </script>


}

<h2>Recently Played Tracks</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                IMG
            </th>
            <th>
                Name
            </th>
            <th>
                ID
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in recentlyPlayed)
        {
            <tr>
                <td>
                    <p>image</p>
                </td>
                <td>
                    @Html.DisplayFor(modelTrack => item.Track.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelTrack => item.Track.Id)
                </td>

            </tr>
        }
    </tbody>
</table>

<h2>Playlists</h2>
<article class="container playlist-scrollbar">
    @foreach (var playlist in playlists.Items.OrderByDescending(x => x.Tracks.Total))
    {
        var currentHref = playlist.Href;
        var newHref = currentHref.Split('/').Last();
        var currentFrameSrc = $"https://open.spotify.com/embed/playlist/{newHref}";

        <section class="row my-5">
            <span class="w-100">
                <small class="mb-4">@Html.DisplayFor(modelTrack => playlist.Tracks.Total) songs</small>
                <iframe id="@playlist.Uri" src="@currentFrameSrc" class="playlist-iframe" height="250" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </span>

        </section>
    }
</article>

