@using ChartJSCore.Models;
@using SpotifyAPI.Web.Models;
@using SpotifyAPI.Web;

@{
    ViewData["Title"] = "Recommendations";
    FullTrack trackDetails;
    List<SimpleTrack> tracks = (List<SimpleTrack>)ViewData["Recommendation"];
    ISpotifyWebAPI spotifyWebAPI = ((ISpotifyWebAPI) ViewData["SpotiflyAPI"]);
}

<h1>Recommendations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                IMG
            </th>
            <th>
                TRACK NUMBER
            </th>
            <th>
               ID
            </th>
            <th>
               NAME
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in tracks)
        {
            var trackName = item.Name;
            var artist = item.Artists.First().Name;
        <tr>
            <td>
                @{
                    trackDetails = spotifyWebAPI.GetTrack(item.Id);
                }
                <a asp-area="" asp-controller="Spotifly" asp-action="TrackDetails" asp-route-id=@item.Id>
                    <img src="@trackDetails.Album.Images.First().Url" ; width="100" height="100" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Listen to now >>", "Edit", new { /* id=item.PrimaryKey */ })
            </td>
            <td>
                @Html.ActionLink("Add to your playlist", "Edit", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>
